.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}